<% layout('/layout/boilerplate.ejs') %>

    <div class="row my-3">
        <div class="col-6 offset-3">
            <div class="card" >
                <img src="<%= campgrounds.img  %>" class="card-img-top" alt="">
                <div class="card-body">
                    <h5 class="card-title"><%= campgrounds.title  %></h5>
                    <p class="card-text"><%= campgrounds.description %></p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item text-muted"> <% campgrounds.location %></li>
                    <li class="list-group-item ">$<%= campgrounds.price %>/night</li>
                </ul>
                <div class="card-body">
                    <a class="btn btn-info card-link" href="/campgrounds/<%= campgrounds._id %>/edit">Edit</a>
                    <form class="d-inline" action="/campgrounds/<%= campgrounds._id %>/delete?_method=delete" method="post">
                        <button class="btn btn-danger">Delete</button>
                    </form>
                </div>
            </div>
            <h2 class="mt-2">Leave a review</h2>
            <form action="/campgrounds/<%= campgrounds._id %>/review" method="post">
                <div class="ny-2">
                    <label for="rating" class="form-label">Rating</label>
                    <input class="form-range" id="rating" name="review[rating]"  type="range" min="1" max="5">
                </div>
                <div class="my-2">
                    <label class="form-label" for="body">Review</label>
                    <textarea class="form-control" name="review[body]" id="body" cols="30" rows="3"></textarea>
                </div>
                <button class="btn btn-success">Add Review</button>
            </form>
        </div> 
    </div>
