<% layout('/layout/boilerplate.ejs') %>

    <h1>
        <%= campgrounds.title %>
    </h1>
    <img src="<%= campgrounds.img  %>" alt="">
    <h2>
        <%= campgrounds.location %>
    </h2>
    <p><%= campgrounds.description  %></p>
    <h3>
        Price: <%= campgrounds.price  %>
    </h3>

    <br>
    <a href="/campgrounds">index</a>
    <br>
    <a href="/campgrounds/<%= campgrounds._id %>/edit">edit</a>
    <br>
    <form action="/campgrounds/<%= campgrounds._id %>/delete?_method=delete" method="post">
        <button>delete</button>
    </form>