<% layout('/layout/boilerplate.ejs') %>

<div class="row">
    <h1 class="text-center">
        Edit Campground
    </h1>
    <div class="col-6 offset-3">
        <form method="post" action="/campgrounds/<%= campground._id  %>/edit?_method=patch" class="needs-validation" novalidate enctype="multipart/form-data">
            <div class="my-1">
                <label class="form-label" for="title">Title</label>
                <input class="form-control" type="text" id="title" name="campground[title]" placeholder="" value="<%= campground.title %>" required>
                <div class="valid-feedback">
                    Look Good!
                </div>
            </div>

            <div class="my-1">
                <label class="form-label" for="location">Location</label>
                <input class="form-control" type="text" id="location" name="campground[location]" placeholder="" value="<%= campground.location %>" required>
                <div class="valid-feedback">
                    Look Good!
                </div>
            </div>

            <div class="my-1">
                <label for="image" class="form-label">Add Images</label>
                <input class="form-control form-control-sm" name="image" id="image" type="file" multiple>
            </div>

            <div class="my-1">
                <% campground.images.forEach( function(img,i){ %>
                    <div class="input-group mb-3">
                        <div class="input-group-text">
                            <label class="mb-auto" for="image-<%= i %>">Delete</label>
                          <input class="form-check-input mb-auto p-2" type="checkbox" value="<%= img.name %>" id="image-<%= i %>" name="imagesToDelete[]" aria-label="Checkbox for deleting images">
                          <img class="d-flex p-1 img-thumbnail" src="<%= img.url %>" alt="">
                        </div>
                    </div>
                    <% }) %>
            </div>

            <div class="input-group mt-3 mb-2">
                <span class="input-group-text" id="basic-addon1">$</span>
                <input name="campground[price]" type="text" class="form-control" placeholder="0.00" aria-label="Price" aria-describedby="basic-addon1" value="<%= campground.price %>" required>
                <div class="valid-feedback">
                    Look Good!
                </div>
            </div>

            <div class="my-1">
                <label class="form-label" for="description">Description</label>
                <textarea class="form-control" type="text" id="description" name="campground[description]" required><%= campground.description %></textarea>
                <div class="valid-feedback">
                    Look Good!
                </div>
            </div>

            <div class="my-2">
                <button class="btn btn-success ">Update</button>
            </div>
            
        </form>
    </div>

